{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

<section id="banner-1">

  <div class="block text-block">
      <div class="wrapper">

          <h1 class="text heading">Apollo Collection</h1>
          <p class="text">An active life shouldn't sacrifice comfort for durability. With us, it won't have to.</p>
          <a href="#" class="btn">
              <p class="text">Shop now</p>
          </a>

      </div>
  </div>

  <div class="block image-block">
      <!--<img src="{{ section.settings.image.src }}" alt="product">-->
      <img src="http://cdn.home-designing.com/wp-content/uploads/2017/11/charcoal-wide-upholstered-accent-chairs-600x600.jpg" alt="product">
  </div>

</section>





{% schema %}
{
  "name": "Banner1",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Banner1",
      "settings": {
         "title": "Banner1"
       }
    }
  ]
}
{% endschema %}