.banner1 {
  height: 100vh;
  display: flex;
}

.banner1 .block {
  height: 100%;
}
.banner1 .text-block {
  width: 35%;
  background-color: #797b83;
}
.banner1 .text-block .wrapper {
  width: 55%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 64px 0;
  box-sizing: border-box;
}
.banner1 .text-block .wrapper > * {
  margin: 8px 0;
}
.banner1 .text-block .wrapper .btn {
  margin: 48px 0;
}



.banner1 .image-block {
  width: 65%;
}
.banner1 .image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}